
body {
  background: #BABCBB url('waterfall_sidebar_right.jpg') no-repeat top right;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#banner {
  margin-left: 15em;
  padding: 0em 0em;
  height: 4em;
  vertical-align: middle;
}

#banner .title {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 3.5em;
  font-family: Amadeus,sans-serif;
  vertical-align: middle;
}

#banner .subtitle {
  display: block;
  float: left;
  margin: 1em;
  margin-top: 1em;
  padding: 0.05em;  
  border: 2px solid;
  border-left: 0;
  border-right: 0;
  font-size: 1.25em;
  font-family: UnderwoodChampion,monospace;
  vertical-align: middle;
}

#nav {
  clear: left;
  float: left;
  width: 10em; 
  margin-left: 2em;
}

#nav ul {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

#nav li {
  list-style: none;
  padding: 0.3em 1em;
  margin: 0;
  border: 2px solid black;
  background-color: #F3F530;
  opacity: .6;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

#nav > ul > li {
    
}

#nav li:hover {
/*  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);*/
  opacity: .8;
}

#nav a {
  display: block;
  width: auto;
  text-decoration: none;
  font-weight: bold;
}

#content {
  margin-left: 15em;
  margin-right: 2em;
  max-width: 40em;
  padding: 1em 2em;
  border: 3px solid #B1DED6;
  background: white;
}

#content h2 {
    font-family: UnderwoodChampion,monospace;
    font-size: 1.8em;
    margin-top: 0;
    padding-top: 0;
    margin-right: 1em;
    border-bottom: 1px solid #369;
}
#content h3 { 
    font-size: 1.4em;
    margin-right: 1em;
    border-bottom: 1px dotted #369;
}

.item {
}

.itemname {
    font-size: 1.8em;
}

.itemdesc {
    font-size: 1.2em;
    padding-top: 0.5em;
}

.itemcode {
    font-family: monospace;
    whitespace: pre-wrap;
    color: #666;
}

.item p {
    margin-bottom: 0;
}

.item img {
    margin: 0;
}

.loading {
    font-size: 1.5em;
    margin-left: 8em;
    padding-left: 8em;
}

#versiontag {
    width: auto;
    margin: 0;
    padding: 0.2em 0.5em;
    float: right;
    color: black;
    background: #fff url(img/blur.jpg) top right repeat-y;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#tagline {
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    margin: 0;
    padding: 0;
    width: 10em;
    width: auto;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#tagline p, #tagline a {
    margin: 0;
    padding: 0;
    text-align: right;
}
