
body {
  background: #BABCBB url('waterfall_sidebar_big_right.jpg') no-repeat top right;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* fix monospace sizing */
code {
    font-family: monospace, serif; 
    font-size: 1em;
}

#banner {
  margin: 0;
  padding: 0.5em 0.5em;
  height: 4em;
  vertical-align: middle;
}

#banner .title {
  font-size: 3.5em;
  font-family: Amadeus,sans-serif;
  vertical-align: middle;
}

#banner .subtitle {
  display: block;
  position: absolute;
  margin: 0;
  top: 1.25em;
  left: 15em;
  padding: 0.05em;  
  border: 2px solid;
  border-left: 0;
  border-right: 0;
  font-size: 1.25em;
  font-family: UnderwoodChampion,monospace;
  vertical-align: middle;
}

#nav {
  clear: left;
  float: left;
  width: 10em; 
  margin-left: 2em;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  list-style: none;
  margin: 0;
}

#nav li.navhead {
  margin-top: 0.4em;
  background-color: #F3F530;
  border: 2px solid black;
  opacity: .6;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

#nav li.navhead.active {
  opacity: .8;
  border-bottom: 1px solid black;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

#nav li.navgroup {
  border: 2px solid black;
  border-top: 0px;
  background-color: #dddddd;
  -moz-border-radius-bottomleft: 16px;
  -moz-border-radius-bottomright: 16px;
  -webkit-border-bottom-left-radius: 16px;
  -webkit-border-bottom-right-radius: 16px;
}

#nav li.navgroup li {
  padding: 0;
  border-top: 1px solid grey;
}

#nav li.navhead:hover {
/*  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);*/
  opacity: .8;
}

#nav a {
  display: block;
  padding: 0.2em 1em;
  width: auto;
  text-decoration: none;
  font-weight: bold;
}

#nav a.active {
    background: #ffffff;
}

#content_container {
  margin-left: 15em;
  margin-right: 2em;
  max-width: 40em;
  padding: 0;
  color: black;
}

#content {
  margin:0;
  padding: 1em 2em;
  border: 3px solid #B1DED6;
  background: white;
}

#content h2, #content h3 {
    font-family: UnderwoodChampion,monospace;
    font-size: 1.8em;
    margin-top: 0;
    padding-top: 0;
    margin-right: 1em;
    border-bottom: 1px solid #369;
}
#content h3 { 
    text-transform: lowercase;
    font-size: 1.4em;
    margin-top: 1em;
    border-bottom: 1px dotted #369;
}

.item {
}

.itemname {
    font-size: 1.8em;
}

.itemdesc {
    font-size: 1.2em;
    padding-top: 0.5em;
}

.itemcode {
    font-family: monospace;
    color: #666;
}

.item p {
    margin-bottom: 0;
}

.item img {
    margin: 0;
}

.codelink {
    display: block;
    text-align: right;
}

.loading {
    font-size: 1.5em;
    margin-left: 8em;
    padding-left: 8em;
}

#versiontag {
    width: auto;
    margin: 0;
    padding: 0.2em 0.5em;
    float: right;
    color: black;
    background: #fff url(img/blur.jpg) top right repeat-y;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#tagline {
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    margin: 0;
    padding: 0;
    width: 10em;
    width: auto;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#tagline p, #tagline a {
    margin: 0;
    padding: 0;
    text-align: right;
}
